<%- include('partials/head') %>

<%- include('partials/nav') %>

        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <svg height="500" viewBox="0 0 341 260" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M213.851 21.8263C212.134 11.634 219.005 1.97982 229.197 0.262954C239.389 -1.45392 249.044 5.41671 250.761 15.609C252.477 25.8012 245.607 35.4554 235.415 37.1723C225.222 38.8891 215.568 32.0185 213.851 21.8263ZM226.653 19.6698C227.179 22.7917 230.136 24.8963 233.258 24.3704C234.757 24.1178 236.095 23.2801 236.976 22.0414C237.858 20.8027 238.211 19.2646 237.959 17.7654C237.433 14.6434 234.476 12.5389 231.354 13.0648C228.232 13.5907 226.127 16.5479 226.653 19.6698Z" fill="#CDE2FD"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.627 176.342C34.9102 166.15 41.7808 156.496 51.973 154.779C62.1652 153.062 71.8195 159.933 73.5363 170.125C75.2532 180.317 68.3826 189.971 58.1903 191.688C47.9981 193.405 38.3439 186.535 36.627 176.342ZM49.4289 174.186C49.9548 177.308 52.912 179.412 56.0339 178.886H56.0339C57.5331 178.634 58.8706 177.796 59.7521 176.558C60.6336 175.319 60.987 173.781 60.7345 172.281C60.2086 169.16 57.2514 167.055 54.1295 167.581C51.0075 168.107 48.903 171.064 49.4289 174.186Z" fill="#CDE2FD"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M321.741 137.794C320.882 132.693 324.321 127.86 329.423 127.001C331.873 126.588 334.386 127.166 336.41 128.606C338.434 130.047 339.803 132.232 340.216 134.682C341.075 139.784 337.636 144.616 332.535 145.475C327.433 146.335 322.601 142.896 321.741 137.794ZM328.547 137.761C329.163 138.745 330.311 139.26 331.455 139.068C333.018 138.804 334.071 137.324 333.808 135.762C333.615 134.617 332.752 133.702 331.621 133.442C330.49 133.182 329.314 133.629 328.641 134.574C327.968 135.52 327.931 136.778 328.547 137.761Z" fill="#CDE2FD"/>
                        <circle cx="245.429" cy="77.1862" r="4.94736" fill="#AED3FF"/>
                        <circle cx="124.793" cy="199.995" r="4.94736" fill="#AED3FF"/>
                        <path d="M15.7176 80.5128L11.6464 81.1986L10.9606 77.1274C10.713 75.6573 9.32047 74.6663 7.85034 74.9139V74.9139C6.38021 75.1615 5.38919 76.5541 5.63683 78.0242L6.32261 82.0954L2.25145 82.7811C0.781314 83.0288 -0.209712 84.4213 0.0379278 85.8915V85.8915C0.285576 87.3616 1.67811 88.3526 3.14824 88.105L7.2194 87.4192L7.90518 91.4903C8.15283 92.9605 9.54535 93.9515 11.0155 93.7039V93.7039C12.4856 93.4562 13.4766 92.0637 13.229 90.5936L12.5432 86.5224L16.6144 85.8366C18.0845 85.589 19.0755 84.1964 18.8279 82.7263V82.7263C18.5803 81.2562 17.1877 80.2652 15.7176 80.5128V80.5128Z" fill="#0084F0"/>
                        <path d="M175.309 155.543L171.238 156.229L170.552 152.158C170.305 150.688 168.912 149.697 167.442 149.944V149.944C165.972 150.192 164.981 151.584 165.228 153.055L165.914 157.126L161.843 157.811C160.373 158.059 159.382 159.452 159.63 160.922V160.922C159.877 162.392 161.27 163.383 162.74 163.135L166.811 162.45L167.497 166.521C167.744 167.991 169.137 168.982 170.607 168.734V168.734C172.077 168.487 173.068 167.094 172.821 165.624L172.135 161.553L176.206 160.867C177.676 160.619 178.667 159.227 178.42 157.757V157.757C178.172 156.287 176.779 155.296 175.309 155.543V155.543Z" fill="#D9E9FF"/>
                        <path d="M261.47 227.776L257.399 228.462L256.713 224.391C256.466 222.921 255.073 221.93 253.603 222.178V222.178C252.133 222.425 251.142 223.818 251.39 225.288L252.075 229.359L248.004 230.045C247.298 230.164 246.668 230.558 246.253 231.141C245.838 231.725 245.672 232.449 245.791 233.155V233.155C246.038 234.625 247.431 235.616 248.901 235.369L252.972 234.683L253.658 238.754C253.906 240.224 255.298 241.215 256.768 240.967V240.967C258.238 240.72 259.229 239.327 258.982 237.857L258.296 233.786L262.367 233.1C263.837 232.853 264.828 231.46 264.581 229.99V229.99C264.333 228.52 262.94 227.529 261.47 227.776Z" fill="#0084F0"/>
                        <path d="M59.5394 225.768L58.5675 225.077L59.2592 224.105C59.5089 223.754 59.4269 223.267 59.076 223.017V223.017C58.725 222.767 58.238 222.849 57.9882 223.2L57.2965 224.172L56.3246 223.48C55.9736 223.231 55.4866 223.313 55.2368 223.664V223.664C54.9871 224.015 55.0691 224.502 55.4201 224.751L56.392 225.443L55.7003 226.415C55.4505 226.766 55.5326 227.253 55.8835 227.503V227.503C56.2345 227.753 56.7215 227.67 56.9713 227.32L57.663 226.348L58.6349 227.039C58.9859 227.289 59.4729 227.207 59.7226 226.856V226.856C59.9724 226.505 59.8904 226.018 59.5394 225.768V225.768Z" fill="#0084F0"/>
                        <path d="M102.093 33.4688V33.4688C102.014 32.994 101.651 32.6167 101.179 32.5196C97.1031 31.7165 93.5683 29.2009 91.4741 25.6127C91.2279 25.1991 90.7525 24.9798 90.2781 25.0608V25.0608C89.8033 25.1397 89.426 25.5026 89.3289 25.9741C88.5257 30.0503 86.0101 33.5851 82.4219 35.6793C82.0083 35.9255 81.7889 36.4009 81.87 36.8753V36.8753C81.9488 37.3501 82.3118 37.7274 82.7832 37.8245C86.8595 38.6276 90.3943 41.1432 92.4885 44.7315C92.7347 45.145 93.2101 45.3644 93.6845 45.2833V45.2833C94.1593 45.2045 94.5366 44.8415 94.6337 44.3701C95.4368 40.2939 97.9524 36.7591 101.541 34.6649C101.954 34.4187 102.174 33.9433 102.093 33.4688Z" fill="#D9E9FF"/>
                        <path d="M315.905 75.697V75.697C315.826 75.2222 315.463 74.8449 314.992 74.7478C310.915 73.9447 307.381 71.4291 305.287 67.8409C305.04 67.4273 304.565 67.208 304.091 67.289V67.289C303.616 67.3679 303.238 67.7308 303.141 68.2023C302.338 72.2785 299.823 75.8133 296.234 77.9075C295.821 78.1537 295.601 78.6291 295.682 79.1035V79.1035C295.761 79.5783 296.124 79.9556 296.596 80.0527C300.672 80.8558 304.207 83.3714 306.301 86.9596C306.547 87.3732 307.022 87.5925 307.497 87.5115V87.5115C307.972 87.4327 308.349 87.0697 308.446 86.5983C309.249 82.522 311.765 78.9872 315.353 76.893C315.767 76.6469 315.986 76.1715 315.905 75.697Z" fill="#D9E9FF"/>
                        <path d="M97.8743 57.5103L15.4067 80.8598C15.4067 80.8598 15.1081 13.088 66.5639 11.7937C102.48 10.8904 107.361 39.9695 107.361 39.9695L97.8743 57.5103Z" fill="#FF8469" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M102.911 256.923C75.1477 224.168 161.813 219.842 109.517 186.145C49.2933 147.341 261.095 -4.03842 62.3264 12.061C62.3264 12.061 132.932 17.8026 61.4356 114.377C-9.88174 210.71 106.635 171.993 83.6106 220.533C70.09 249.037 102.911 256.923 102.911 256.923Z" fill="white" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M107.01 71.9473H91.9706L103.192 45.5545H118.232L107.01 71.9473V71.9473Z" fill="#FF8469"/>
                        <path d="M142.224 50.474H121.11C120.408 50.474 120.218 49.5802 120.687 48.4776L121.081 47.5509C121.55 46.4483 122.499 45.5545 123.201 45.5545H144.316C145.018 45.5545 145.207 46.4483 144.738 47.5509L144.344 48.4776C143.875 49.5802 142.926 50.474 142.224 50.474Z" fill="#FF8469"/>
                        <path d="M137.919 60.5994H116.804C116.102 60.5994 115.913 59.7056 116.382 58.603L116.776 57.6763C117.245 56.5737 118.194 55.6799 118.896 55.6799H140.01C140.712 55.6799 140.902 56.5737 140.433 57.6763L140.039 58.603C139.57 59.7056 138.621 60.5994 137.919 60.5994Z" fill="#FF8469"/>
                        <path d="M133.614 70.7248H112.499C111.797 70.7248 111.608 69.8309 112.077 68.7283L112.471 67.8017C112.94 66.6991 113.889 65.8052 114.591 65.8052H135.705C136.407 65.8052 136.596 66.6991 136.128 67.8017L135.734 68.7283C135.265 69.8309 134.316 70.7248 133.614 70.7248Z" fill="#FF8469"/>
                        <path d="M123.177 85.1261H87.1267C86.7073 85.1261 86.5943 84.5921 86.8744 83.9334L87.1098 83.3798C87.3898 82.7211 87.9569 82.1871 88.3763 82.1871H124.426C124.846 82.1871 124.959 82.7211 124.679 83.3798L124.443 83.9334C124.163 84.5921 123.596 85.1261 123.177 85.1261Z" fill="#FF8469"/>
                        <path d="M119.261 94.3351H83.2112C82.7918 94.3351 82.6788 93.8011 82.9589 93.1424L83.1943 92.5888C83.4744 91.9301 84.0414 91.3961 84.4608 91.3961H120.511C120.93 91.3961 121.043 91.9301 120.763 92.5888L120.528 93.1424C120.248 93.8011 119.681 94.3351 119.261 94.3351Z" fill="#FF8469"/>
                        <path d="M115.346 103.544H79.2957C78.8763 103.544 78.7633 103.01 79.0434 102.351L79.2788 101.798C79.5588 101.139 80.1259 100.605 80.5453 100.605H116.595C117.015 100.605 117.128 101.139 116.848 101.798L116.612 102.351C116.332 103.01 115.765 103.544 115.346 103.544Z" fill="#FF8469"/>
                        <path d="M111.43 112.753H75.3802C74.9608 112.753 74.8478 112.219 75.1279 111.56L75.3633 111.007C75.6434 110.348 76.2104 109.814 76.6298 109.814H112.68C113.099 109.814 113.212 110.348 112.932 111.007L112.697 111.56C112.417 112.219 111.85 112.753 111.43 112.753Z" fill="#FF8469"/>
                        <path d="M87.022 125.097H70.1318C69.7124 125.097 69.5994 124.563 69.8795 123.904L70.1149 123.351C70.395 122.692 70.962 122.158 71.3814 122.158H88.2716C88.691 122.158 88.804 122.692 88.5239 123.351L88.2885 123.904C88.0084 124.563 87.4414 125.097 87.022 125.097Z" fill="#FF8469"/>
                        <path d="M92.0536 162.974C88.3073 165.656 84.1797 167.76 79.8088 169.217" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M111.989 23.5295L109.248 26.2865" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M310.355 161.786H221.829C213.545 161.786 206.829 155.031 206.829 146.698V65.2349C206.829 56.9024 213.545 50.1476 221.829 50.1476H310.355C318.639 50.1476 325.355 56.9024 325.355 65.2349V146.698C325.355 155.031 318.639 161.786 310.355 161.786Z" fill="white" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <ellipse cx="266.092" cy="82.6281" rx="18.6403" ry="18.7721" fill="#0084F0" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M260.899 82.6281V75.7114C260.896 75.2927 261.118 74.9046 261.48 74.6941C261.842 74.4836 262.289 74.4829 262.651 74.6923L268.599 78.1506L274.547 81.609C274.909 81.8209 275.132 82.2088 275.132 82.6281C275.132 83.0474 274.909 83.4353 274.547 83.6472L268.599 87.1055L262.651 90.5639C262.289 90.7733 261.842 90.7726 261.48 90.5621C261.118 90.3516 260.896 89.9635 260.899 89.5448V82.6281Z" fill="white" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <rect x="223.946" y="116.167" width="84.2932" height="6.50214" rx="0.90474" fill="#FF8469" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <rect x="243.171" y="129.984" width="45.8414" height="6.50214" rx="0.90474" fill="#FF8469" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M237.266 66.3046C236.52 67.2471 235.562 68.0009 234.47 68.5051" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M301.739 141.49L299.872 143.057" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M122.752 89.5004L126.38 84.798L127.885 79.7759L133.158 78.9215L134.658 84.9003L131.159 86.5837L127.284 92.0149L122.752 89.5004V89.5004Z" fill="white" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M130.209 81.9952C127.606 91.7689 136.971 87.8362 134.307 83.5017C130.685 85.3793 131.08 81.8541 131.08 81.8541C131.08 81.8541 132.745 80.8855 131.882 79.6275C131.882 79.6275 133.134 78.8263 133.351 79.6915C134.625 77.7519 133.507 77.5795 129.68 77.6547C124.759 77.7515 126.024 85.4024 126.024 85.4024C126.024 85.4024 128.51 88.3275 130.209 81.9952Z" fill="#0084F0" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M130.073 82.4772C127.664 80.8358 127.381 84.002 129.345 85.4477Z" fill="white"/>
                        <path d="M130.073 82.4772C127.664 80.8358 127.381 84.002 129.345 85.4477" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M122.976 145.398L127.048 145.456L128.553 135.917L123.597 135.846L122.976 145.398V145.398Z" fill="white"/>
                        <mask id="mask0_302_5012" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="122" y="135" width="7" height="11">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M122.976 145.398L127.048 145.456L128.553 135.917L123.597 135.846L122.976 145.398V145.398Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask0_302_5012)">
                        <path d="M119.205 140.831C127.535 142.406 125.566 140.635 127.85 140.375C130.134 140.114 122.976 138.706 122.976 138.706L121.937 139.276" fill="#FF8469"/>
                        </g>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M122.976 145.398L127.048 145.456L128.553 135.917L123.597 135.846L122.976 145.398V145.398Z" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M136.288 148.353C136.476 146.664 135.577 146.754 134.225 146.42C131.241 145.684 127.895 145.919 127.73 142.795L122.63 143.266L122.371 146.769C122.304 147.45 122.722 148.023 123.291 148.032L136.288 148.353Z" fill="#0084F0" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M122.407 139.719C125.469 142.265 129.338 139.64 129.338 139.64L132.319 120.062C132.566 117.724 131.702 115.405 129.985 113.799L117.216 101.88L107.466 107.567L123.804 121.3L122.407 139.719Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M122.407 139.719C125.469 142.265 129.338 139.64 129.338 139.64L132.319 120.062C132.566 117.724 131.702 115.405 129.985 113.799L117.216 101.88L107.466 107.567L123.804 121.3L122.407 139.719Z" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M82.4648 140.387L85.3757 143.249L92.9961 137.379L89.4534 133.895L82.4648 140.387V140.387Z" fill="white"/>
                        <mask id="mask1_302_5012" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="82" y="133" width="11" height="11">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M82.4648 140.387L85.3757 143.249L92.9961 137.379L89.4534 133.895L82.4648 140.387V140.387Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask1_302_5012)">
                        <path d="M78.454 137.935C86.9794 136.193 88.0503 140.885 90.4494 140.013C92.8484 139.142 86.9174 133.895 86.9174 133.895L79.387 135.187" fill="#FF8469"/>
                        </g>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M82.4648 140.387L85.3757 143.249L92.9961 137.379L89.4534 133.895L82.4648 140.387V140.387Z" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M92.6878 147.758C93.6948 146.394 90.5992 145.965 90.5992 145.965C88.5835 145.91 85.3757 143.249 87.5071 141.746L83.7174 138.922L80.2623 141.996C79.8641 142.55 79.9384 143.258 80.4259 143.553L87.2167 147.758L92.6878 147.758Z" fill="#0084F0" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M119.983 102.854L107.517 98.4685L103.325 121.588L85.5534 136.09C85.5534 136.09 88.8244 140.431 91.9244 141.011L107.496 129.247C109.106 128.31 110.357 126.861 111.049 125.132L116.64 111.19" fill="white"/>
                        <mask id="mask2_302_5012" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="85" y="98" width="35" height="44">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M119.983 102.854L107.517 98.4685L103.325 121.588L85.5534 136.09C85.5534 136.09 88.8244 140.431 91.9244 141.011L107.496 129.247C109.106 128.31 110.357 126.861 111.049 125.132L116.64 111.19" fill="white"/>
                        </mask>
                        <g mask="url(#mask2_302_5012)">
                        <path d="M102.768 119.414C112.098 105.299 107.146 106.837 116.775 107.617C128.595 108.575 116.034 105.808 116.034 105.808L114.288 96.0458L105.886 92.8413L104.73 93.5808L98.7257 101.88L91.2511 123.407" fill="#FF8469"/>
                        </g>
                        <path d="M119.983 102.854L107.517 98.4685L103.325 121.588L85.5534 136.09C85.5534 136.09 88.8244 140.431 91.9244 141.011L107.496 129.247C109.106 128.31 110.357 126.861 111.049 125.132L116.64 111.19" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M125.174 86.1949C127.376 86.4718 127.394 90.4699 127.394 90.4699L123.524 98.3818C123.524 98.3818 120.199 107.587 118.676 107.779C110.988 106.944 103.995 99.6405 103.995 99.6405C103.995 99.6405 118.449 85.8759 125.174 86.1949Z" fill="#0084F0"/>
                        <mask id="mask3_302_5012" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="103" y="86" width="25" height="22">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M125.174 86.1949C127.376 86.4718 127.394 90.4699 127.394 90.4699L123.524 98.3818C123.524 98.3818 120.199 107.587 118.676 107.779C110.988 106.944 103.995 99.6405 103.995 99.6405C103.995 99.6405 118.449 85.8759 125.174 86.1949Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask3_302_5012)">
                        <path d="M122.388 91.8852C120.318 96.596 121.516 104.867 121.516 104.867L126.363 101.88L122.388 91.8852Z" fill="#0084F0" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M125.174 86.1949C127.376 86.4718 127.394 90.4699 127.394 90.4699L123.524 98.3818C123.524 98.3818 120.199 107.587 118.676 107.779C110.988 106.944 103.995 99.6405 103.995 99.6405C103.995 99.6405 118.449 85.8759 125.174 86.1949Z" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M149.566 108.881L115.888 123.309C115.386 123.523 114.82 123.528 114.314 123.324C113.809 123.119 113.406 122.721 113.195 122.218L105.445 103.918C105 102.87 105.484 101.66 106.529 101.209L140.207 86.7806C140.708 86.5664 141.274 86.5611 141.78 86.7658C142.285 86.9705 142.688 87.3683 142.9 87.8711L150.65 106.172C151.095 107.219 150.61 108.429 149.566 108.881Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M149.566 108.881L115.888 123.309C115.386 123.523 114.82 123.528 114.314 123.324C113.809 123.119 113.406 122.721 113.195 122.218L105.445 103.918C105 102.87 105.484 101.66 106.529 101.209L140.207 86.7806C140.708 86.5664 141.274 86.5611 141.78 86.7658C142.285 86.9705 142.688 87.3683 142.9 87.8711L150.65 106.172C151.095 107.219 150.61 108.429 149.566 108.881Z" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M140.549 93.0494L110.785 105.801C109.701 106.269 109.198 107.526 109.66 108.613L113.624 117.973C113.818 118.436 114.19 118.803 114.656 118.992C115.122 119.18 115.643 119.175 116.106 118.978L146.31 106.038C147.273 105.622 147.719 104.507 147.309 103.542L143.345 94.1815C143.126 93.6595 142.708 93.2465 142.183 93.034C141.658 92.8215 141.07 92.8271 140.549 93.0494V93.0494Z" fill="white"/>
                        <mask id="mask4_302_5012" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="109" y="92" width="39" height="28">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M140.549 93.0494L110.785 105.801C109.701 106.269 109.198 107.526 109.66 108.613L113.624 117.973C113.818 118.436 114.19 118.803 114.656 118.992C115.122 119.18 115.643 119.175 116.106 118.978L146.31 106.038C147.273 105.622 147.719 104.507 147.309 103.542L143.345 94.1815C143.126 93.6595 142.708 93.2465 142.183 93.034C141.658 92.8215 141.07 92.8271 140.549 93.0494V93.0494Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask4_302_5012)">
                        <path d="M104.503 124.339L103.291 121.479C108.981 119.659 106.958 115.966 113.003 116.138C119.048 116.309 115.32 106.089 120.071 108.613C124.822 111.138 124.325 107.433 126.739 108.069C129.152 108.705 128.346 101.921 132.65 103.224C136.954 104.527 133.967 94.7605 138.486 96.9346C143.006 99.1088 144.95 91.4037 148.198 93.2877C151.446 95.1717 152.492 90.2277 153.588 90.4648L158.192 101.337L104.503 124.339Z" fill="white" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M140.549 93.0494L110.785 105.801C109.701 106.269 109.198 107.526 109.66 108.613L113.624 117.973C113.818 118.436 114.19 118.803 114.656 118.992C115.122 119.18 115.643 119.175 116.106 118.978L146.31 106.038C147.273 105.622 147.719 104.507 147.309 103.542L143.345 94.1815C143.126 93.6595 142.708 93.2465 142.183 93.034C141.658 92.8215 141.07 92.8271 140.549 93.0494V93.0494Z" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M131.029 108.06C133.105 109.787 135.689 110.676 135.942 111.324C136.196 111.972 134.955 111.599 134.955 111.599C134.955 111.599 138.084 113.177 138.079 113.803C138.074 114.428 136.402 113.545 136.402 113.545C136.402 113.545 137.494 113.946 137.62 114.269C137.747 114.593 136.164 115.526 129.318 110.762" fill="white"/>
                        <mask id="mask5_302_5012" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="129" y="108" width="10" height="7">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M131.029 108.06C133.105 109.787 135.689 110.676 135.942 111.324C136.196 111.972 134.955 111.599 134.955 111.599C134.955 111.599 138.084 113.177 138.079 113.803C138.074 114.428 136.402 113.545 136.402 113.545C136.402 113.545 137.494 113.946 137.62 114.269C137.747 114.593 136.164 115.526 129.318 110.762" fill="white"/>
                        </mask>
                        <g mask="url(#mask5_302_5012)">
                        <path d="M130.499 114.33C131.989 113.515 132.36 108.371 132.36 108.371L129.318 109.895L128.745 112.174" fill="#FF8469"/>
                        </g>
                        <path d="M131.029 108.06C133.105 109.787 135.689 110.676 135.942 111.324C136.196 111.972 134.955 111.599 134.955 111.599C134.955 111.599 138.084 113.177 138.079 113.803C138.074 114.428 136.402 113.545 136.402 113.545C136.402 113.545 137.494 113.946 137.62 114.269C137.747 114.593 136.164 115.526 129.318 110.762" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M121.04 91.8654L123.271 102.407C123.347 102.833 123.508 103.239 123.745 103.601L129.548 112.486C131.352 112.22 132.36 108.371 132.36 108.371L129.523 100.961L127.215 88.8806" fill="#0084F0"/>
                        <mask id="mask6_302_5012" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="121" y="88" width="12" height="25">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M121.04 91.8654L123.271 102.407C123.347 102.833 123.508 103.239 123.745 103.601L129.548 112.486C131.352 112.22 132.36 108.371 132.36 108.371L129.523 100.961L127.215 88.8806" fill="white"/>
                        </mask>
                        <g mask="url(#mask6_302_5012)">
                        <path d="M131.738 105.22C130.227 109.018 127.394 110.895 127.394 110.895L125.207 110.046C125.207 110.046 130.672 106.337 131.516 103.656C132.36 100.975 131.738 105.22 131.738 105.22Z" fill="white" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <path d="M121.04 91.8654L123.271 102.407C123.347 102.833 123.508 103.239 123.745 103.601L129.548 112.486C131.352 112.22 132.36 108.371 132.36 108.371L129.523 100.961L127.215 88.8806" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M129.244 100.809C128.928 101.096 128.516 101.255 128.089 101.252" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M112.71 94.7306L112.525 95.7124" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M103.298 121.365C103.386 122.131 104.241 122.709 104.98 122.5" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M138.396 103.222C138.448 104.32 138.266 105.417 137.863 106.44" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M88.3894 142.36L87.1185 142.661C87.1164 142.714 87.1777 142.745 87.2285 142.761L89.2005 143.392" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M129.39 142.567L127.78 143.581L130.133 143.712" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M187.047 218.095C158.807 224.864 149.206 213.788 149.206 213.788C149.206 213.788 160.076 153.821 182.426 150.676C204.776 147.531 187.047 218.095 187.047 218.095Z" fill="#0084F0" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M81.1231 144.233C80.5645 137.594 96.9691 149.544 96.9691 149.544C96.9691 149.544 122.626 146.667 126.563 149.544C130.5 152.42 169.03 190.481 169.03 190.481L141.178 195.393C141.178 195.393 117.402 161.257 115.635 159.696C114.235 158.459 92.6559 154.801 91.7151 154.385C90.7742 153.969 81.1231 144.233 81.1231 144.233Z" fill="white"/>
                        <mask id="mask7_302_5012" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="81" y="142" width="89" height="54">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M81.1231 144.233C80.5645 137.594 96.9691 149.544 96.9691 149.544C96.9691 149.544 122.626 146.667 126.563 149.544C130.5 152.42 169.03 190.481 169.03 190.481L141.178 195.393C141.178 195.393 117.402 161.257 115.635 159.696C114.235 158.459 92.6559 154.801 91.7151 154.385C90.7742 153.969 81.1231 144.233 81.1231 144.233Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask7_302_5012)">
                        <path d="M122.487 170.07C138.591 178.613 155.756 175.674 155.756 175.674L141.178 195.393L117.798 185.43L116.382 180.126" fill="#FF8469"/>
                        </g>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M81.1231 144.233C80.5645 137.594 96.9691 149.544 96.9691 149.544C96.9691 149.544 122.626 146.667 126.563 149.544C130.5 152.42 169.03 190.481 169.03 190.481L141.178 195.393C141.178 195.393 117.402 161.257 115.635 159.696C114.235 158.459 92.6559 154.801 91.7151 154.385C90.7742 153.969 81.1231 144.233 81.1231 144.233Z" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M188.809 256.401L286.793 253.584C286.793 253.584 259.837 155.414 253.034 149.732C246.521 144.292 210.283 140.026 186.178 151.514C185.104 152.026 183.679 152.153 183.068 153.138C167.941 177.534 188.809 256.401 188.809 256.401Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M188.809 256.401L286.793 253.584C286.793 253.584 259.837 155.414 253.034 149.732C246.521 144.292 210.283 140.026 186.178 151.514C185.104 152.026 183.679 152.153 183.068 153.138C167.941 177.534 188.809 256.401 188.809 256.401Z" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M192.962 124.895L201.175 158.45L222.074 144.528L209.468 116.749L192.962 124.895V124.895Z" fill="white"/>
                        <mask id="mask8_302_5012" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="192" y="116" width="31" height="43">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M192.962 124.895L201.175 158.45L222.074 144.528L209.468 116.749L192.962 124.895V124.895Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask8_302_5012)">
                        <path d="M202.123 158.45C215.682 154.602 192.871 136.971 200.127 132.166C202.123 130.845 196.834 123.458 196.834 123.458L191.456 128.217" fill="#FF8469"/>
                        </g>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M192.962 124.895L201.175 158.45L222.074 144.528L209.468 116.749L192.962 124.895V124.895Z" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M205.273 116.628L197.12 102.997L178.089 91.9737C177.743 107.924 168.564 153.9 200.127 132.166" fill="white"/>
                        <path d="M205.273 116.628L197.12 102.997L178.089 91.9737C177.743 107.924 168.564 153.9 200.127 132.166" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M207.729 117.262C201.664 120.752 190.961 109.19 194.162 104.502C194.162 104.502 183.952 110.439 175.416 105.183C150.006 112.269 147.163 80.0282 171.173 85.9135C182.062 77.6687 196.137 82.2344 196.606 89.638C217.241 74.8416 225.798 106.864 207.729 117.262Z" fill="#0084F0" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M209.831 124.034C220.018 112.53 209.253 99.068 198.552 118.763Z" fill="white"/>
                        <path d="M209.831 124.034C220.018 112.53 209.253 99.068 198.552 118.763" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M304.725 242.588L285.692 185.43H257.229L272.96 228.791L217.244 245.096L211.709 246.35C211.709 246.35 203.003 237.942 200.172 238.754C197.341 239.565 181.126 252.012 181.126 252.012H211.024L210.494 256.401H295.876C302.97 256.401 307.151 249.874 304.725 242.588Z" fill="white"/>
                        <mask id="mask9_302_5012" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="181" y="185" width="125" height="72">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M304.725 242.588L285.692 185.43H257.229L272.96 228.791L217.244 245.096L211.709 246.35C211.709 246.35 203.003 237.942 200.172 238.754C197.341 239.565 181.126 252.012 181.126 252.012H211.024L210.494 256.401H295.876C302.97 256.401 307.151 249.874 304.725 242.588Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask9_302_5012)">
                        <path d="M269.277 212.165C240.727 220.708 291.222 211.215 300.423 230.676C309.624 250.136 307.265 195.393 307.265 195.393L300.423 192.942" fill="#FF8469"/>
                        </g>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M304.725 242.588L285.692 185.43H257.229L272.96 228.791L217.244 245.096L211.709 246.35C211.709 246.35 203.003 237.942 200.172 238.754C197.341 239.565 181.126 252.012 181.126 252.012H211.024L210.494 256.401H295.876C302.97 256.401 307.151 249.874 304.725 242.588Z" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M190.895 252.024H259.902C263.321 252.024 266.092 254.795 266.092 258.214V258.232H190.895V252.024V252.024Z" fill="white" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M263.307 214.762C292.686 221.531 300.423 210.454 300.423 210.454C300.423 210.454 279.461 150.488 256.582 147.343C233.703 144.198 263.307 214.762 263.307 214.762Z" fill="#0084F0"/>
                        <mask id="mask10_302_5012" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="247" y="147" width="54" height="70">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M263.307 214.762C292.686 221.531 300.423 210.454 300.423 210.454C300.423 210.454 279.461 150.488 256.582 147.343C233.703 144.198 263.307 214.762 263.307 214.762Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask10_302_5012)">
                        <path d="M247.905 204.741C295.731 220.404 307.265 195.393 307.265 195.393L309.18 220.286C309.18 220.286 232.182 230.165 234.438 229.455" fill="#0084F0"/>
                        <path d="M247.905 204.741C295.731 220.404 307.265 195.393 307.265 195.393L309.18 220.286C309.18 220.286 232.182 230.165 234.438 229.455" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M263.307 214.762C292.686 221.531 300.423 210.454 300.423 210.454C300.423 210.454 279.461 150.488 256.582 147.343C233.703 144.198 263.307 214.762 263.307 214.762Z" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M205.57 258.232H105.852C103.807 258.232 101.868 256.925 100.992 254.956L67.6539 180.008C66.9755 178.483 67.9381 176.862 69.5222 176.862H170.38C172.425 176.862 174.364 178.169 175.239 180.137L208.09 253.989C209.005 256.045 207.706 258.232 205.57 258.232Z" fill="#FF8469"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M205.57 258.232H105.852C103.807 258.232 101.868 256.925 100.992 254.956L67.6539 180.008C66.9755 178.483 67.9381 176.862 69.5222 176.862H170.38C172.425 176.862 174.364 178.169 175.239 180.137L208.09 253.989C209.005 256.045 207.706 258.232 205.57 258.232Z" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M207.592 164.073L201.175 158.45C201.175 158.45 217.369 135.94 217.979 135.504C219.462 134.444 228.861 144.371 228.861 144.371L207.592 164.073Z" fill="white" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M196.652 164.073L202.123 158.45C202.123 158.45 197.051 140.283 196.368 139.848C194.706 138.787 189.355 150.138 189.355 150.138L196.652 164.073Z" fill="white" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <ellipse cx="129.174" cy="217.547" rx="3.4821" ry="6.76498" transform="rotate(-51.1503 129.174 217.547)" fill="white" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <ellipse cx="202.123" cy="168.809" rx="1.88709" ry="1.89808" fill="white" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <ellipse cx="203.063" cy="185.43" rx="1.88709" ry="1.89808" fill="white" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M179.155 113.369C172.606 116.161 173.727 122.788 178.074 122.006Z" fill="white"/>
                        <path d="M179.155 113.369C172.606 116.161 173.727 122.788 178.074 122.006" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <g opacity="0.27">
                        <ellipse cx="188.676" cy="118.839" rx="3.70514" ry="2.74812" fill="#FF8469"/>
                        </g>
                        <path d="M186.454 122.482C183.921 125.321 180.726 124.439 180.726 124.439Z" fill="white"/>
                        <path d="M186.454 122.482C183.921 125.321 180.726 124.439 180.726 124.439" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M205.273 117.062C205.74 116.26 206.98 116.065 207.668 116.685C208.356 117.306 208.298 118.566 207.557 119.12" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M174.876 92.6016C175.69 94.3451 176.97 95.8294 178.575 96.89" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M207.781 97.5901L207.958 97.7681" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M274.844 186.694C276.455 185.858 278.227 185.378 280.04 185.285" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M157.29 214.788L167.701 222.342" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M272.774 228.647C274.292 229.829 275.293 231.552 275.568 233.455" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M242.288 221.828L239.457 224.676" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M223.15 202.294C221.28 204.727 218.597 206.406 215.591 207.022" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M200.802 33.687H135.668C133.827 33.6924 132.338 35.1894 132.344 37.0308V67.0169C132.338 68.8582 133.827 70.3553 135.668 70.3607H178.247C179.963 72.5398 181.921 75.0223 183.344 76.8256C184.001 77.659 185.327 77.1806 185.327 76.1167V70.3607H200.802C202.644 70.3553 204.132 68.8582 204.127 67.0169V37.0308C204.132 35.1894 202.644 33.6924 200.802 33.687Z" fill="#0084F0"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M200.802 33.687H135.668C133.827 33.6924 132.338 35.1894 132.344 37.0308V67.0169C132.338 68.8582 133.827 70.3553 135.668 70.3607H178.247C179.963 72.5398 181.921 75.0223 183.344 76.8256C184.001 77.659 185.327 77.1806 185.327 76.1167V70.3607H200.802C202.644 70.3553 204.132 68.8582 204.127 67.0169V37.0308C204.132 35.1894 202.644 33.6924 200.802 33.687Z" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <ellipse cx="146.837" cy="51.0211" rx="3.32054" ry="3.33987" fill="white" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <ellipse cx="160.718" cy="51.0211" rx="3.32054" ry="3.33987" fill="white" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <ellipse cx="174.599" cy="51.0211" rx="3.32054" ry="3.33987" fill="white" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <ellipse cx="188.48" cy="51.0211" rx="3.32054" ry="3.33987" fill="white" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M191.425 60.3968C189.732 61.9122 187.869 63.2252 185.873 64.3091" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M151.152 37.958L150.187 39.4158" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M196.78 61.5714L192.985 65.1103" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M306.963 83.166L304.256 88.9082" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M275.239 90.6233C274.367 92.0934 273.131 93.3139 271.65 94.1666" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M253.233 218.417C253.215 221.285 252.08 224.034 250.07 226.08" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M115.383 239.577C116.584 241.11 118.116 242.351 119.865 243.207" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M92.3685 191.4C92.9458 192.391 93.9549 193.054 95.094 193.191" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M52.2718 43.6226C52.0982 46.4429 52.7441 49.2532 54.1316 51.7147" stroke="#143C9A" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                </div>
                <div class="col-lg-6">
                    <h1 class="display-4 fw-bold lh-1 mb-3">Create detailed and engaging cover letters with CoverWriter.</h1>
                    <p class="lead">Powerful, intelligent, and customizable writer. Generate high quality cover letters
                        in seconds tailored to each resume and job.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a class="btn btn-primary btn-lg px-4 me-md-2" href="/start">Get Started</a>
                        <button type="button" class="btn btn-outline-secondary btn-lg px-4" id="learnMore">Learn more</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container px-4 py-5" id="hanging-icons">
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
              <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-lightning-fill" viewBox="0 0 16 16">
                        <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5z"/>
                      </svg>
                </div>
                <div>
                  <h3 class="fs-2">Intelligent.</h3>
                  <p>With the power of Text-Davinci-003 and the OpenAI API, CoverWriter uses the power of machine learning to write cover letters that will amaze any recruiter.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-fast-forward-fill" viewBox="0 0 16 16">
                        <path d="M7.596 7.304a.802.802 0 0 1 0 1.392l-6.363 3.692C.713 12.69 0 12.345 0 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692Z"/>
                        <path d="M15.596 7.304a.802.802 0 0 1 0 1.392l-6.363 3.692C8.713 12.69 8 12.345 8 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692Z"/>
                      </svg>
                </div>
                <div>
                  <h3 class="fs-2">Fast, really fast.</h3>
                  <p>CoverWriter's efficient API calls allows you to have your freshly written cover letter within seconds. Want a rewrite? No problem.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-gear-wide-connected" viewBox="0 0 16 16">
                        <path d="M7.068.727c.243-.97 1.62-.97 1.864 0l.071.286a.96.96 0 0 0 1.622.434l.205-.211c.695-.719 1.888-.03 1.613.931l-.08.284a.96.96 0 0 0 1.187 1.187l.283-.081c.96-.275 1.65.918.931 1.613l-.211.205a.96.96 0 0 0 .434 1.622l.286.071c.97.243.97 1.62 0 1.864l-.286.071a.96.96 0 0 0-.434 1.622l.211.205c.719.695.03 1.888-.931 1.613l-.284-.08a.96.96 0 0 0-1.187 1.187l.081.283c.275.96-.918 1.65-1.613.931l-.205-.211a.96.96 0 0 0-1.622.434l-.071.286c-.243.97-1.62.97-1.864 0l-.071-.286a.96.96 0 0 0-1.622-.434l-.205.211c-.695.719-1.888.03-1.613-.931l.08-.284a.96.96 0 0 0-1.186-1.187l-.284.081c-.96.275-1.65-.918-.931-1.613l.211-.205a.96.96 0 0 0-.434-1.622l-.286-.071c-.97-.243-.97-1.62 0-1.864l.286-.071a.96.96 0 0 0 .434-1.622l-.211-.205c-.719-.695-.03-1.888.931-1.613l.284.08a.96.96 0 0 0 1.187-1.186l-.081-.284c-.275-.96.918-1.65 1.613-.931l.205.211a.96.96 0 0 0 1.622-.434l.071-.286zM12.973 8.5H8.25l-2.834 3.779A4.998 4.998 0 0 0 12.973 8.5zm0-1a4.998 4.998 0 0 0-7.557-3.779l2.834 3.78h4.723zM5.048 3.967c-.03.021-.058.043-.087.065l.087-.065zm-.431.355A4.984 4.984 0 0 0 3.002 8c0 1.455.622 2.765 1.615 3.678L7.375 8 4.617 4.322zm.344 7.646.087.065-.087-.065z"/>
                      </svg>
                </div>
                <div>
                  <h3 class="fs-2">Highly customizable.</h3>
                  <p id="scroll">CoverWriter's writing style can be tailored to your preferences. Choose from an assortment of parameters to create the perfect cover letter for your job.</p>
                </div>
              </div>
            </div>
          </div>

        <%- include('partials/footer') %>